{% extends "layout.html" %}

{% block body %}
<div class="row">
    <div class="col-lg-8">
    <!-- Post content-->
    <article>
    <!-- Post header-->
        <header class="mb-4">
            <!-- Post title-->
            <h3 class="fw-bolder mb-1">{{article.title}}</h3>
            <!-- Post meta content-->
            <div class="text-muted fst-italic mb-2">by {{article.author}}</div>
            <hr>
            <div class="text-muted fst-italic mb-2">Oluşturulma Tarihi: {{article.created_date}}</div>
            <hr>
        </header>
            <!-- Preview image figure-->
            {% if article.article_image %}
            <figure class="mb-4"><img class="img-fluid rounded" src="{{article.article_image.url}}" alt="..." /></figure>
            {% endif %}
            <!-- Post content-->
            <section class="mb-5">
            <hr>
            <p>
            {{article.content|safe}}
            </p>
            <hr>
            </section>
    </article>
    <h4>Yorumlar</h4>
    <hr>
    {% if comments %}
    {% for comment in comments %}
        <div class="d-flex">
            <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                <div class="ms-3">
                    <h5 class="fw-bold">{{comment.comment_author}}</h5>
                    <small>{{comment.comment_date}}</small> <br>
                    {{comment.comment_content}}
                    
                </div>
        </div>
    {% endfor %}
    
    {% else %}
    <div class="alert alert-danger">
    Bu makaleye henüz bir yorum yazılmamış.
    </div>
    {% endif %}
    <div class="card my-4 container">
          <h5 class="card-header">Yorum Ekle:</h5>
          <div class="card-body">
            <form method = "post" action = "{% url 'article:comment' article.id %}">
              {% csrf_token %}
              <div class="form-group">
                  <label for="formGroupExampleInput">İsim</label>
                  <input name = "comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="İsminizi girin">
                </div>
              <div class="form-group">
                  <label for="formGroupExampleInput">Yorum</label>
                <textarea name = "comment_content" class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-danger my-3">Ekle</button>
            </form>
          </div>
        </div>
    </div>
</div>

{% endblock body %}